name: Pylint Pipeline

# Déclencher le pipeline à chaque push sur n'importe quelle branche
on: [push]

jobs:
    lint:
        name: Lint Python Code
        runs-on: ubuntu-latest
        container: python:3.11  # Utilise un conteneur Docker avec Python 3.11

        steps:
            # Récupérer le code du dépôt
            - name: Checkout code
              uses: actions/checkout@v4

            # Configurer Python
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            # Installer Pylint
            - name: Install Pylint
              run: pip install pylint

            - name: Lint backend code
              run: pylint --rcfile=.pylintrc backend/code | tee pylint-backend-report.txt

            # - name: Lint scrapper code
            #   run: pylint --rcfile=.pylintrc scrapper/code | tee pylint-scrapper-report.txt
